<!--?xml version="1.0" encoding="utf-8"?-->
<security>
  <services>
    <service name="LocalFileImageService" type="ImageProcessor.Web.Services.LocalFileImageService, ImageProcessor.Web"></service>
    <!--Disable the LocalFileImageService and enable this one when using virtual paths. -->
    <!--<service name="CloudImageService" type="ImageProcessor.Web.Services.CloudImageService, ImageProcessor.Web">
      <settings>
        <setting key="MaxBytes" value="8194304"></setting>
        <setting key="Timeout" value="30000"></setting>
        <setting key="Host" value="http://yourhost.com/"></setting>
      </settings>
    </service>-->
    <service prefix="remote.axd" name="RemoteImageService" type="ImageProcessor.Web.Services.RemoteImageService, ImageProcessor.Web">
      <settings>
      <!-- set maxbytes to as large as you want to serve over CDN -->
        <setting key="MaxBytes" value="4194304"></setting>
        <setting key="Timeout" value="3000"></setting>
        <setting key="Protocol" value="http"></setting>
      </settings>
      <whitelist>
        <add url="http://[storageaccount].blob.core.windows.net"></add>
        <add url="http://az[yournumbers].vo.msecnd.net"></add>
       </whitelist>
    </service>
  </services>
</security>